// Border Color
$inputOutline: #E6E6E6;

// Font Color
$inputPlaceholder : #C0C0C0;
$submitButtonColor: #292A37;

// Button Color
$offBlue: #292A37;
$offGrey: #909296;
$offWhite: #F5F5F5;
$grey: #B2B2B2;