@import './fonts.scss';
@import './colors.scss';

.home {
    width : 100%;
    height: 89.65vh;
    overflow: hidden;
}

@media screen and (max-width: 412px) {
    .home {
        height: 87vh;
    }
}