@import './fonts.scss';
@import './colors.scss';

.nav-container {
    width          : 100%;
    height         : 8vh;
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    align-items    : center;
}

.logo {
    width      : auto;
    max-height : 40px;
    margin-left: 36px;
}

.auth-nav-container {
    margin-right   : 17.5px;
    display        : flex;
    flex-direction : row;
    justify-content: space-around;
    align-items    : center;
}

.auth-nav-link {
    margin         : 0px 17.5px;
    text-decoration: none;
    font-family    : $sourceSansPro;
    font-weight    : bold;
}

.login-button {
    color: $offBlue;
}

.signup-button {
    border-radius   : 5px;
    background-color: $offBlue;
    color           : $offWhite;
    padding         : 12px 31px;
}