@import "./fonts.scss";
@import "./colors.scss";

.search-result-item-card {
  border-radius: 5px;
  width: 100%;
  max-width: 240px;
  height: 90%;
  max-height: 290px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0px 10px;
}

.img-container {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.restaurant-img,
.activity-img {
  flex-shrink: 0;
  max-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.item-info-container {
  background-color: $offWhite;
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0px 10px;
}

.business-info {
  font-family: $sourceSansPro;
  color: $offBlue;
  font-size: 14px;
  padding: 0px 3px;
}
