@import './fonts.scss';
@import './colors.scss';

.search-input {
  width          : auto;
  height         : 88vh;
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : center;
}

form {
  width          : auto;
  height         : auto;
  display        : flex;
  flex-direction : column;
  justify-content: left;
  align-items    : flex-start;
}

.search-form-container {
  width          : 100%;
  height         : 70%;
  display        : flex;
  flex-direction : row;
  justify-content: center;
  align-items    : center;
}

.search-input-item {
  display        : flex;
  flex-direction : row;
  justify-content: center;
  align-items    : center;
  margin         : 15px 0px;
}

.landing-page-text,
.landing-page-symbol {
  font-family: $sourceSansPro;
  font-size  : 35px;
  font-weight: bold;
  width      : auto;
}

.landing-page-symbol {
  padding-left: 20px;
}

.typing-text {
  width       : 22ch;
  animation   : typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space : nowrap;
  overflow    : hidden;
  border-right: 3px solid;
  font-family : $sourceSansPro;
  font-size   : 35px;
  padding     : 0px 78px;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}

.landing-page-date-input {
  border       : 1px solid $inputOutline;
  max-width    : 300px;
  border-radius: 5px;
  text-indent  : 7px;
  margin-left  : 20px;
  font-family  : $sourceSansPro;
  font-size    : 35px;
  font-weight  : bold;
  color        : $inputPlaceholder;
}

.search-location-container {
  width          : auto;
  height         : 60px;
  display        : flex;
  flex-direction : row;
  justify-content: center;
  align-items    : center;
}

.landing-page-input {
  background-color          : $offWhite;
  border                    : 1px solid $inputOutline;
  border-right              : none;
  border-radius             : 5px;
  border-top-right-radius   : 0px;
  border-bottom-right-radius: 0px;
  width                     : auto;
  max-width                 : 200px;
  padding                   : 7px 15px;
  margin-left               : 20px;
  font-family               : $sourceSansPro;
  font-size                 : 35px;
  font-weight               : bold;
  color                     : $inputPlaceholder;

  &:-webkit-autofill::first-line,
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    font-family               : $sourceSansPro;
    font-size                 : 35px;
    font-weight               : bold;
    color                     : $inputPlaceholder;
  }
}

.landing-page-input:focus {
  outline: none;
}

.generate-button {
  background-color         : $offWhite;
  outline                  : none;
  border                   : 1px solid $inputOutline;
  border-left              : none;
  border-radius            : 5px;
  border-top-left-radius   : 0px;
  border-bottom-left-radius: 0px;
  width                    : 60px;
  height                   : 100%;
  padding                  : 14px 31px;
  font-family              : $sourceSansPro;
  font-size                : 30px;
  color                    : $offWhite;
  display                  : flex;
  flex-direction           : column;
  justify-content          : center;
  align-items              : center;
}

.generate-button {
  cursor: pointer;
}

.search-icon-blue {
  color: $offBlue;
}

.landing-page-input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color      : $offGrey;
  font-family: $sourceSansPro;
  font-size  : 35px;
  opacity    : 1;
  /* Firefox */
}

.landing-page-input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color      : $offGrey;
  font-family: $sourceSansPro;
  font-size  : 35px;
  opacity    : 1;
  /* Firefox */
}

.landing-page-input::-ms-input-placeholder {
  /* Microsoft Edge */
  color      : $offGrey;
  font-family: $sourceSansPro;
  font-size  : 35px;
  opacity    : 1;
  /* Firefox */
}

@media screen and (max-width: 800px) {
  .search-input-item {
    display        : flex;
    flex-flow      : column;
    justify-content: center;
    align-items    : center;
  }

  .landing-page-text {
    width     : 100%;
    margin    : 10px 0px;
    text-align: center;
  }

  .landing-page-input {
    width : 100%;
    margin: 10px 0px;
  }

  .landing-page-symbol {
    padding: 0px;
    margin : 10px 0px;
  }

  .generate-button {
    margin: 10px 0px;
  }

  // .search-location-container {
  //   height: 60px;
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: center;
  //   align-items: center;
  // }
}