@import './fonts.scss';

.auth-form-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth-form {
    border: 1px solid black;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.auth-form h1 {
    font-family: $sourceSansProBlack;
    font-size: 24px;
    font-weight: bold;
}