.nav-container {
    width: 100%;
    max-height: 50px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

.logo-container {
    margin-left: 10px;
}

.logo {
    width: auto;
    max-height: 40px;
}

.login-signup-container {
    margin-right: 10px;
}