<<<<<<< HEAD
@import './fonts.scss';
@import './colors.scss';

=======
>>>>>>> 🎨: formatting restaurant card
.search-result-item-card {
    border: 1px solid black;
    width: 200px;
    height: 259px;
}

.restaurant-img {
    border: 1px solid black;
    width: 100%;
    height: auto;
}