/* front page user input form */
.search-input {
    /* border: 1px solid black; */
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}

.search-input-item {
    margin: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: left;
}